.bottomSection{
    overflow-y: scroll;
    height: 55vh;
}

.bottomText{
    font-size: 6px;
    color: lightgray;
}

.btn-link{
    text-decoration-line: underline;
}

@media only screen and (max-width: 576px) {
    .bottomSection{
        overflow-y: scroll;
        max-height: 50vh;
    }
  }