<!-- css -->
<link rel="stylesheet" href="css/home.css">

<div class="container">
    <div class="mt-2">
        <div class="TitleText px-auto">
            <a href="">USYD Timetable Preferences Helper</a>
        </div>
    </div>

    <!-- 
        MOBILE WARNING (fix mobile also)
    -->

    <br>
    
    <form action="/fileSubmission" id="submitForm" method="POST" class="md-form w-75 mx-auto text-center">         
        <div class="form-row">
            <div class="col-10">
                <input type="text" class="form-control" name="codes" placeholder="e.g CHEM1111, SOFT2222" required>
            </div>
            <div class="col">
                <select class="form-control" name="semester">
                    <option value="1">Semester 1</option>
                    <option value="2">Semester 2</option>
                </select>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary submitButton mb-2">Submit</button>
    </form>
    
    <div class="row">
        <div class="errors text-left"></div>
    </div>
    
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified"> 
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#help">Help</a>
        </li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container fade active show" id="help"><br>
            <p>The site is currently working for 2020.</p>
            <p>Simply enter the codes for your units of study in a comma delimitated list and hit submit.</p>
        </div>
    </div>
        
   

    <!-- bottom -->
    <p class="bottomText text-center">
        This tool is made by a student, for other students, its not perfect but hopefully it can help.
        Obviously this website is not officially affiliated with or endorsed by The University of Sydney.
    </p>

    <!-- Criteria Modal -->
    <div class="modal fade" id="criteriaModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
        
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Scoring Criteria</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
        
                <!-- Modal body -->
                <div class="modal-body">
                    The remaining possible timetables are scored based on: 
                    <ul>
                        <li>
                            Amount of days that contain a class. Timetables that require to attend the least amount of days score higher.
                        </li>
                        <li>
                            The start time for each day. Earlier starts are scored lower than later starts. (NOTE: The finish time for each day is not considered when scoring.)
                        </li>
                        <li>
                            Timetables that lump your lectures into one day are more favourable than having your lectures spread out over the week.
                            This is so this day may be skipped if needed and the lectures can be watched online.
                        </li>
                    </ul>
                    You are only shown the highest scored as there may be hundreds of possible combinations.
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/home.js"></script>