<!-- css -->
<link rel="stylesheet" href="css/home.css">

<div class="container">
    <div class="mt-2">
        <div class="TitleText px-auto">
            <a href="">USYD Timetable Preferences Helper</a>
        </div>
    </div>

    <!-- 
        MOBILE WARNING (fix mobile also)
    -->

    <br>

    <div class="row sm-0">
        <!-- leftside -->
        <div class="col-md-7 border border-top-0 border-right-0 border-left-0 rounded-lg preferences">
            
            <form action="/fileSubmission" id="submitForm" method="POST" class="md-form">
                <br>
                <div class="custom-file mt-2">
                    <input name="fileUpload" type="file" class="custom-file-input" multiple>
                    <label class="custom-file-label" for="fileUpload">
                        <span class="d-inline-block text-truncate w-75">Upload your files</span>
                    </label>
                </div>
                <br> <br>
                <button type="submit" class="btn btn-primary submitButton mb-2">Submit</button>
            </form>
        </div>

        <!-- rightside -->
        <div class="col-sm-5 border rounded-lg  mb-3 pb-3 results">
            <div class="media border rounded-lg p-2 mt-3">
                <img src="img/question-mark.png" alt="Help" class="mr-3 mt-3 rounded-circle align-self-top" style="width:60px;">
                <div class="media-body">
                    <h4>Help <small><i class="text-secondary">How do i use this?</i></small></h4>
                    <h6>
                        Use <a class="text-info" target="_blank" href="https://web.timetable.usyd.edu.au/chooseLabel.jsp">this USYD website</a> 
                        to download your class times. After entering your unit code, right click the page and select 'save as', then choose
                        'html only' as the format. Do this for all your units, and upload the files.
                    </h6>
                </div>
            </div>
            <div class="media border rounded-lg p-2 mt-3">
                <img src="img/question-mark.png" alt="Help" class="mr-3 mt-3 rounded-circle align-self-top" style="width:60px;">
                <div class="media-body">
                    <h4>Help <small><i class="text-secondary">How does it generate timetables for me?</i></small></h4>
                    <h6>
                        With all the options you give it, it will first generate all possible combinations then remove all that have class overlaps. 
                        The remaining possibilities are scored based on 
                        <a class="text-info" href="" data-toggle="modal" data-target="#criteriaModal">some critera</a>
                        and you are shown those that score the highest.
                    </h6>
                </div>
            </div>
            <div class="media border rounded-lg p-2 mt-3">
                <img src="img/question-mark.png" alt="Help" class="mr-3 mt-3 rounded-circle align-self-top" style="width:60px;">
                <div class="media-body">
                    <h4>Help <small><i class="text-secondary">Why do i have to enter everything manually?</i></small></h4>
                    <h6>
                        USYD does not offer a way for me to automatically access up to date timetabling information for every unit.
                        So until another option becomes available, we are stuck with this.
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <!-- bottom -->
    <p class="bottomText text-center">
        This tool is made by a student, for other students, its not perfect but hopefully it can help.
        Obviously this website is not officially affiliated with or endorsed by The University of Sydney.
    </p>

    <!-- Criteria Modal -->
    <div class="modal fade" id="criteriaModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
        
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Scoring Criteria</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
        
                <!-- Modal body -->
                <div class="modal-body">
                    The remaining possible timetables are scored based on: 
                    <ul>
                        <li>
                            Amount of days that contain a class. Timetables that require to attend the least amount of days score higher.
                        </li>
                        <li>
                            The start time for each day. Earlier starts are scored lower than later starts. (NOTE: The finish time for each day is not considered when scoring.)
                        </li>
                        <li>
                            Timetables that lump your lectures into one day are more favourable than having your lectures spread out over the week.
                            This is so this day may be skipped if needed and the lectures can be watched online.
                        </li>
                    </ul>
                    You are only shown the highest scored as there may be hundreds of possible combinations.
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/home.js"></script>